{
  "parserOptions": {
      "ecmaVersion": 2017
  },
  "env": {
      "es6": true
  },
  "rules": {
    "no-console": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "no-param-reassign": "off",
    "prefer-const": "off",
    "no-unused-vars": "off",
    "max-lines-per-function": "off",
    "no-var": "off",
    "vars-on-top": "off",
    "block-scoped-var": "off",
    "no-redeclare": "off",
    "no-restricted-syntax": [
      "off",
      "FunctionExpression",
      "WithStatement",
      "BinaryExpression[operator='in']"
    ]
  }
}