div:hover {
  border: 2px solid black;
}

div:nth-child(3) {
  background-color: red;
}

div:nth-child(4) {
  background-color: orange;
}

div:nth-child(5) {
  background-color: green;
  height: 100px;
}

div:nth-child(6) {
  color: white;
  background-color: black;
}

div:nth-child(7) {
  background-color: azure;
}

h3:nth-child(1) {
  font-family: monospace;
}

div:nth-child(odd) h3 {
  font-style: italic;
}
